/* CSS para a animação de piscagem da barra vertical */
.blink {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}
